@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #4F46E5;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}


.link-primary {
    background-color: var(--primary-color);
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    /* background-color: white; */
    border: 1px solid var(--primary-color);
    /* border-color: var(--primary-color);
    border: 1px solid; */
}